section {
  padding-bottom: $section-spacing-mobile/2;
  margin-bottom: $section-spacing-mobile/2;

  @include media-breakpoint-up(sm){
    padding-bottom: $section-spacing-desktop/2;
    margin-bottom: $section-spacing-desktop/2;
  }

  .section-title {
    position: relative;

    .anchor {
      position: absolute;
      top: -100px;

      @include media-breakpoint-up(sm){
        top: -70px;
      }
    }
  }

  a {
    color: $green;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      border-bottom: 1px solid darken($green, 10%);
      color: darken($green, 10%);
      text-decoration: none;
    }
  }

}
