@import 'variables';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import 'fonts';
@import 'footer';
@import 'google-maps';
@import 'mixins';
@import 'nav';
@import 'section';
@import 'grid';

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container-fluid {
  // background: red;
}

.container {
  max-width: 750px;
}

a {
  transition: all .3s;
  &:hover {
    text-decoration: none;
    color: darken($nav-color, 10%);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
}

body {
  background-color: #efefef;
  color: #656565;
  padding-top: 100px;
  font-family: 'Raleway', sans-serif;
  @include media-breakpoint-up(sm){
    // padding-top: 150px;
  }
}

hr {
  @extend .container;
  border-color: darken($brand-primary, 10%);
  border-width: 10px;
}

main {
  padding-bottom: $section-spacing-mobile/2;
  margin-bottom: $section-spacing-mobile/2;

  @include media-breakpoint-up(sm){
    padding-bottom: $section-spacing-desktop/2;
    margin-bottom: $section-spacing-desktop/2;
  }
}

.notice {
  text-align: right;

}
